* {
    box-sizing: border-box;
  /*   background: black; */
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* container */
#container {
    position: relative;
    top: 50px;
    width: 60%;
    padding: 10px;
    height: auto;
    border: 2px dotted rgb(0, 255, 0);
    margin: auto;
    color: rgb(0, 255, 0);
}

#myCanvas {
    /* width: 200px;
    height: 100px; */
    color: rgb(0, 255, 0);
    border: 1px dotted red;
}