* {
    box-sizing: border-box;
    background: black;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* container */
#container {
    position: relative;
    top: 50px;
    left: 50px;
    border: 2px solid white;
    border-radius: 5px;
    height: auto;
    width: 60%;
    margin: auto;
    padding: 0;
    color: rgb(0, 255, 0);
    display: inline-block;
}